fastapi
uvicorn

sqlalchemy
psycopg2-binary
alembic

pydantic
pydantic-settings

redis
celery

beautifulsoup4
playwright
httpx
lxml

langgraph

openai

python-dotenv

pgvector

loguru
requests

ddgs
google-cloud-aiplatform
google-auth
openpyxl